/* From Uiverse.io by cssbuttons-io */ 
button:not(.sub-btn) {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button.del-btn {
  padding: 0.1rem;
}

button:not(.selected):hover {
  color: #fff;
}

body {
  font-family: "Elms Sans", sans-serif;
  font-weight: 600;
}